@use "../../styles/variables.scss" as *;

ul.section-ul {
  list-style: none;
  margin-top: 2em;
  padding-left: 0;
}

li.section-li {
  margin-bottom: 0;
  padding: 1rem 0.5rem;
  border-bottom: 1px solid rgba(150, 150, 150, 0.15);
  position: relative;

  @media (min-width: 600px) {
    padding: 1.5rem 0.75rem;
  }

  &:last-child {
    border-bottom: none;
  }

  & > .section {
    display: grid;
    grid-template-columns: 1fr;

    & > .desc {
      order: 1;

      & > h3 {
        margin-bottom: 0.25rem;

        & > a {
          background-color: transparent;

          &::before {
            content: "";
            position: absolute;
            inset: 0;
          }
        }
      }

      & > .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        margin: 0.5rem 0 0 0;
        padding: 0;
        list-style: none;
        position: relative;
        z-index: 1;
      }
    }

    & > .meta {
      order: 2;
      margin: 0.5rem 0 0 0;
      opacity: 0.5;
      font-size: 0.82rem;
    }
  }
}

// modifications in popover context
.popover .section {
  grid-template-columns: fit-content(8em) 1fr !important;

  & > .desc > .tags {
    display: none;
  }
}
